/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** HEADER ***********/

header {
    width: 1440px;
    height: 80px;
    display: flex;/*sans, le menu reste en dessous du logo*/
    justify-content: space-between;/*mettre tout a droite le menu*/
    align-items: center;/*center le logo avec le menu*/
    margin-top: -4px;/*pour que la bordure bleu soit coler en haut*/
  
  }
 
 .logo-booki {
    width: 160px;
    height: 80px;/*separation du titre h1 et le logo*/
    margin-top: 50px;/*regler la marge du haut pour le logo*/
     
 }
 
 .logo-booki img {/*taille de l'image*/
     width: 61.09px;
     height: 19px;
 }
 
 #menu {
     display: flex;/*sans, hebergements et activite resterais en colonnes*/
     gap: 68px;/*espace entre hebergements et activites*/
     list-style: none;/*enlever les puces*/
     width: 344px;
     height: 35px;
     padding: 0px 50px;
 }
     
 #menu a:hover {
     color: #0065FC;/*le menu passe en bleu au survole*/
     border-top: solid 2px #0065FC;/*l'epaisseur de la bordure au survole*/
     padding-top: 16px;/*espace entre la hauteur du site et le menu*/
     font-size: 16px;
     font-weight: 400;
  }
 
 /****** TITRE PRINCIPAL ***********/

 h1 {
     font-weight: 700;
     font-size: 22px;
     color: #000;
     margin-top: 30px;/*espace entre le logo et le titre*/
     margin-bottom: -5px;/*espace entre le h1 et le paragraphe*/
    
 }
 .titre-1 p {
     
    font-weight: 400;
    font-size: 16px;
    color: #000;
     
 }
 /****** BARRE DE RECHERCHE ***********/

.barre-de-recherche {
    width: auto ;/* regler la longueur automatiquement*/
    margin-top: 40px;/*espcae entre le titre et la barre de recherche*/
    height: 50px;
}
i.fa-solid.fa-location-dot {
    color: #000000;
    background-color: #F2F2F2;/*couleur de fond*/
    height: 50px;/*sans, il ne serait pas alligner au reste de la barre*/
    width: 50px;/*sans, il n'existerait plus*/
    border-top-left-radius: 15px;/*bord haut gauche arrondie*/
    border-bottom-left-radius: 15px;/*bord bas gauche arrondie*/
    align-content: center;/*sans, il serait centrer en haut*/
    text-align: center;/*sans, il serait centrer a gauche*/
    font-size: 18px;/* pour modifier la grosseur du logo*/
}

input.recherchem {
    border-left: none;/*enlever la bordure de gauche noir de base*/
    border-right: none;/*enlever la bordure de droite noir de base*/
    border-top: solid 1px #F2F2F2;/*epaisseur et couleur de la barre de recherche en haut*/
    border-bottom: solid 1px #F2F2F2;/*epaisseur et couleur de la barre de rechercher du bas*/
    color:#000000;/*couleur de l'ecriture a la recherche*/
    font-size: 18px;
    font-weight: 700;
    text-align: center;/*centrer le marseille, france*/
    height: 50px;/*hauteur de la barre de recherche*/
    
}

input.rechercherr {
    font-size: 18px;
    font-weight: 700;
    background-color: #0065FC;
    color: #FFFF;
    height: 50px;
    border: solid 1px #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;/*au survole le curseur change*/
}
 
 
 /****** FILTRE ET BOUTONS ***********/
 
 .titre-filtre {
    display: flex;/*alligner côte a côte "fitres" et les bouttons*/
    gap: 15px;/*espacement entre filtres et boutons*/
    margin-top: 40px;/* espacement entre la barre de recherche et les filtres*/
}

.quatre-boutons {
   display: flex;/*pour que les boutons soit côte a côte et pas l'un en dessous des autres*/
}

p {
    font-size: 18px;
    font-weight: 700;
}

.quatre-boutons {
    gap: 15px;/*espace entre les boutons*/
    height: 50px;/*hauteur des boutons*/
}

.boutons {
    border-radius: 25px;/*arrondir les boutons*/
    border: solid 2px #D9D9D9;/*epaisseur et couleur de la bordure des boutons*/
    padding: 4px 20px;/*espace aerer autour du texte*/
    display: flex;/*sans, align-items le texte resterais en bas*/
    align-items: center;/*sans display-flex le texte resterais en bas*/
}

.quatre-boutons :hover {
    background-color: #DEEBFF;/*couleur de fond au survole*/
    cursor: pointer;/* au survole le curseur change*/
}

.boutons i {
    font-size: 22px;/*pour la grosseur du logo*/
    padding-right: 10px;/*espace du logo et du texte*/
}
 /****** INFORMATION ***********/
 
 .information {
     display: flex;/*que le logo et le texte soit côte a côte*/
     height: 25px;
     gap: 10px ;/* espace entre le logo et le texte*/
     align-items: center;/*pour que le logo et le texte soit alligner*/
     margin-bottom: 30px;/*espace du bas avec la prochaine section*/
     margin-top: 30px;/*espace avec la "div" des filtres*/
 }
 .information p {
     height: 20px;
     color: #000;
     font-size: 16px;
     font-weight: 400;
 }
 
 .fa-info {
     height: 20px;
     width: 20px;
     border-radius: 50%;/*pour faire un rond*/
     border: solid 1px #d9d9d9;/*couleur et lepaisseur de la bordure*/
     font-size: 10px;/*pour la grosseur du "i"*/
     text-align: center;/*sans, il serait centrer a gauche du rond*/
     align-content: center;/*sans, il serait centrer en haut du rond*/
 }

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;/*hebergement et populaires soit côte a côte*/
    justify-content: space-between;/* sans ce n'est pas aerer, les 2 sections sont coller*/
  
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box
}

/****** Hebergements ***********/



.hebergements-cards {
    display: grid;/*utilisation de grid car il y a plusieurs cards(tout les enfants deviennent des elements de la grille)*/
    grid-template-columns: repeat(3, 1fr);/*3 colonnes de tailles egales, fr divise l'espace disponible proportionnellement*/
    gap: 20px; 
    
}

.hebergements-cards .card {
    margin-top: 33px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* centrer,ombarage et floutage/ rgba: couleur noir transparente a 10%*/
    overflow: hidden; /*evite que l'image depasse des bordures*/ 
    transition: transform 0.3s ease-in-out; /* effet de lenteur au survole*/
}

.hebergements-cards .card:hover {
    transform: scale(1.03); /*effet d'agrandissement au survole*/
}

.hebergements-cards img {
    width: 100%;/* pour que l'image rentre bien dans la cards avec la bordure, moins de pourcentage l'image ne serait pas proportionnelle ici elle serait retrecit*/
    height: 120px; 
    object-fit: cover;/*il vas avec width : 100%, sans lui l'image serait ecraser ou etirer*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}

.hebergements-cards .card-content {
    padding: 15px;
    
}

.hebergements-cards .card-title {
    margin: 0;
    
    
}

.hebergements-cards .card-subtitle {
    margin: 5px 0;
    color: #000;
    font-size: 14px;
    font-weight: 400;

}

.afficher-plus {
    width: 810px;
    height: 20px;
    margin-top: 30px;
}

.afficher-plus a {
    font-size: 18px;
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-cards {
    display: grid;
    gap: 20px;
   
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    transition: transform 0.3s ease-in-out;
}

.populaires-cards .card:hover {
    transform: scale(1.03);
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing:border-box ;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** ACTIVITES A MARSEILLE ***********/

.activites {

    font-weight: 700;
    font-size: 22px;
    color: #000;
    margin: 50px;
}

.activites-cards {
    display: flex;
    gap: 30px;
    margin-top: 33px;
   
}

.activites-cards .card {
    height: 440px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    overflow: hidden;  
    transition: transform 0.3s ease-in-out; 
    width: 280px;
}

.activites-cards .card:hover {
    transform: scale(1.03); 
}

.activites-cards img {
    width: 100%; 
    height: 380px; 
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}

.activites-cards .card-content {
  margin-left: 15px;
  font-size: 16px;
  
}

.activites-cards .card-title {
    font-weight: 700;
    font-size: 16px;
    
}

/****** FOOTER ***********/
footer {
    
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px; 
}

.pied-de-page h5 {
    font-weight: 700;
    font-size: 18px;
    color: #000; 
    margin-bottom: 15px; 
}

.pied-de-page ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


.pied-de-page a {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    display: block; 
    margin-bottom: 10px; 
}






/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media /*screen and ?*/ (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media /*screen and ?*/(max-width: 768px) {
    /* ... */
}