/* Medium devices (tablets, max 1024px) */

@media screen and (max-width: 1024px){
    body {
        max-width: 1024px;
    }
    
    /****** HEADER ***********/    
    
        #menu {
            display: flex;
            gap: 40px;
            list-style: none;
            width: 300px;
        }

    /****** FILTRES ***********/    
    
        .titre-filtre {
            display: flex;
            flex-direction: column; /*filtres en haut des boutons */
        }

        .boutons {
            padding: 8px 14px;
        }
        
        .boutons p {
            font-size: 16px;
        }
    
    /****** HEBERGEMENTS ET POPULAIRES ***********/
    
        .hebergements-and-populaires {
            flex-direction: column;
        }
    
    /****** HEBERGEMENTS ***********/
        
        .hebergements-cards {
            grid-template-columns: repeat(3, 1fr);
        }
        
        .hebergements-cards .card-title {
            font-size: 14px; /* ou 13px si nécessaire */
            white-space: nowrap; /* force le texte à rester sur une ligne */
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .hebergements-cards .card-subtitle {
            font-size: 14px ;
        }
        .hebergements {
            width: 100%;
        }
      
    /****** POPULAIRES ***********/
    
        .populaires {
            width: 100%;
            
        }
    
        .populaires-cards {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    
        .populaires-cards a {
            width: 30%;
        }
    
        .populaires-cards .card-title {
            font-size: 14px;
        }
    
        .populaires-cards .card-subtitle {
            font-size: 13px;
        }
       
    /****** ACTIVITE A MARSEILLE ***********/
    
       h3.card-title {
          max-height:150px ;
       }

       .activites-cards img {
            width: 100%;
            height: 200px;
        }
    }
  
 