/* Small devices (phones, less than 768px) */
@media screen and (max-width: 769px){
    body {
        min-width: 320px;
        max-width: 769px;
    }

    .main-container {
        padding: 0;/*pour enlever les marges de toute la page*/
    }
    
/****** HEADER ***********/

    main {
        padding: 0 20px;/* pour avoir uen marge seulement de chaque côter sur la 1er section*/
    }
    
    .logo-booki {
        text-align: center;/*pour centrer le logo au milieu du site*/
        margin-bottom: 15px;
        margin-top: 30px;
    }

    .logo-booki img {/*dimenssion du logo*/
        height: 20px;
        width: 65px;
    }

    header {
        display: flex;
        flex-direction: column;/*la nav se retrouve en dessous du logo*/
        margin-bottom: 80px;
    }
    
    nav {
        width: 100%;
    }
    
    ul#menu {
        display: flex;/*affichage du menu en ligne*/
        justify-content:space-between ;/*repartie sur toute la largeur*/
        width: 100%;
        padding: 0;
        margin: 0;
        gap: 0px;/*pour que le trait bleu soit côte a côte au survol*/
    }
    
    #menu li {/*chaque elements a une place egale et centrer*/
        flex: 1;
        text-align: center;
    }
    
    #menu a {
        display: block;/*pour que la nav soit cliquable partout et pas que le lien */
        padding: 15px 0;/*espace en haut et en bas*/
        position: relative;/*positionne le trait bleu sous le lien avec ::after*/
    }
   
    #menu a:hover {
        border-top: none; /*supression de la barre d'origine*/
    }
    
    #menu a:hover::after {/*ajout du trait bleu sous la nav*/
        content: "";/*creation d'un element invisible qui n'existe pas dans le html  (pour la suite de mon trait) c'est une "obligation" pour que after fonctionne */
        position: absolute;/* sont parents est en position relative je doit donc appliquer une position absolute pour que ca fonctionne*/
        bottom: -1px; 
        left: 0;
        width: 100%;
        border: solid 2px #0065FC ;
    }
    
/****** BARRE DE RECHERCHE ***********/

   .desktop-only {/* ajout de desktop et mobile only dans le html pour ajouter la loupe*/
        display: none;/*supprime le bouton rechercher pour faire place a la loupe*/
    }
    
    .mobile-only {
        display: flex;/*centre la loupe*/
        justify-content: center;/*centre la loupe*/
        align-items: center;/*centre la loupe*/
        color: white;
        background-color: #0065FC;
        border: none;
        border-radius: 15px;
        height: 50px;
        width: 50px;
        margin-left: -5px;/*pour ne pas avoir d'espace entre la barre de recherche et le block de la loupe*/
        font-size: 18px;
        cursor: pointer;
    }

    .formulaire {/*taille de la barre de recherche*/
        min-width: 320px;
        max-width: 100%;
    }

    .barre-de-recherche {
        margin: auto;
    }

    input.recherche-marseille {
        max-width: 200px;/*jai mis une width fixe car sinon elle deborde a 320px*/
    }

/****** TITRE H1 ***********/  

    .titre-1 {
        margin-top: -20px;
    }
    
/****** FILTRE ET BOUTONS ***********/

    .titre-filtre {
        flex-direction: column;
        margin-top: 15px;/*espace entre la barre de recherche et filtres*/
    }

    .quatre-boutons {
        display: flex;
        flex-wrap: wrap;/*passage en ligne*/
        gap: 10px;/*si je passe a 15 les elements serait en colonne*/
        height: auto;
        margin-top: -15px;/*espace entre filtres et les boutons*/
    }

    .boutons {
        flex: 1 0 calc(50% - 5px); /* flex-grow peut grandir pour remplir l’espace disponible, flex-shrink élément ne rétrécit pas si l’espace manque, flex-basisa taille de base de l’élément (environ la moitié du conteneur, moins l’écart) pour que chaque boutons prenne la moitier de la largeur*/
        justify-content: center;/*centrer a l'interieur des boutons*/
        padding: 0px;
        height: 50px;
    }

    .boutons p {
        white-space: nowrap; /* empeche le texte de passer a la ligne */
        font-size: 14px;
    }

/****** INFORMATION ***********/

    .information i {
        flex-shrink: 0;/* je l'utilise parceque a 475px mon rond se deformais 0 car je force mon element a garder sa taille meme si l'espace diminue*/
        font-size: 14px;
    }

/****** HEBERGEMENTS ET POPULAIRES ***********/

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;/*echanger la section les plus populaires et hebergements a marseille*/
        gap: 15px;
    }

/****** POPULAIRES ***********/

    .populaires {
       margin: 0;
    }

    section.populaires{
        border-radius: 0;
    }

    .populaires-cards {
       display: block;/*mettre en colones les 3 cards*/
       width: 100%;
    }
 

/****** HEBERGEMENTS ***********/
  
    .hebergements-cards {
        grid-template-columns: 1fr;/*passage en colonnes de tout les elements*/
    }

    section.hebergements {
        background-color: #fff;
    }
  
/****** ACTIVITES A MARSEILLE ***********/  

    .activites-cards .card {
        padding: 0px;
        margin: 30px 0;
        width: 100%;
    }  

    .activites-cards img {
        max-height: 150px;
    }
            
    .activites-cards {
        display:block;
    }

/****** FOOTER ***********/

    footer {
       display: block;
    }
}

/* Note a moi : sans vouloir modifier le html ::after agit comme un post-it invisible =
= content: ""; le fait exister == width, height, background-color lui donnent une forme et une couleur.
!!!Sans content: "";, ::after ne s’afficherait pas!!!*/

